# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc
